<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
  
    <script src="https://cdn.tailwindcss.com"></script>

<div class=" bg-gray-900 w-full">
<div class="bg-gray-700 p-8 ">
     <h1 class="text-white  m-auto w-fit font-bold text-3xl "> Today Goal!</h1>
     <h1 class="text-2xl text-gray-500">{{msg}}</h1>
</div>

 


    
<form action="/save/" method="POST" class="m-auto w-fit">
{% csrf_token %}

<lable class="font-bold text-white text-1xl ">TodayDate</lable><br>
<input type="text"  class="border-4 p-4 border-solid border-4 border-black rounded-1xl  w-96 shadow-2xl	"name="date" required  ><br>
<br>
<lable class="font-bold text-white text-1xl ">Goal1</lable><br>
<input type="text"   class="border-4 p-4 border-solid border-4 border-black rounded-1xl  w-96" name="goal1" required  ><br>
<br>
<lable class="font-bold text-white text-1xl">Goal2</lable><br>
<input type="text"  class="border-4 p-4 border-solid border-4 border-black rounded-1xl  w-96" name="goal2" required ><br>



<button class=" p-4 bg-indigo-900 font-bold text-white mr-16 mt-8 hover:bg-emerald-600 text-2xl w-72 ml-16 mb-4	">Save </button>


</form>


</div>
<div>
    <form action="/show/" method='POST'>
        {% csrf_token %}
        <button class=" p-4 bg-gray-900 font-bold text-white mr-16 mt-8 w-full hover:bg-emerald-600 text-2xl">Show Record</button>
    </form>
</div> 





    
</body>
</html>